@model WorkShiftsSystemViewModel

@{
    ViewBag.ParseDates = new string[] { "yyyy-MM-dd" };
}

<h4 class="text-info">إضافة نظام جديد للورديات</h4>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Code" class="control-label">الرمز</label>
                        <input asp-for="Code" style="max-width:200px" class="form-control" title="رمز نظام الورديات" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="form-check-inline">
                        <input asp-for="IsDefaultWorkShiftsSystem" style="margin-left:5px" class="form-check-input" type="checkbox">
                        <label asp-for="IsDefaultWorkShiftsSystem" class="form-check-label">
                            النظام الإفتراضي للورديات
                        </label>
                        <span asp-validation-for="IsDefaultWorkShiftsSystem" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <kendo-datepicker class="form-control" for="StartDate" format="yyyy-MM-dd" title="تاريخ بداية نظام الورديات" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendanceProof" class="control-label"></label>
                <div class="col" style="margin-top:5px">
                    <div class="form-check form-check-inline">
                        <input asp-for="AttendanceProof" style="margin-left:5px" class="form-check-input" type="radio" id="RequiredInOut" value="RequiredInOut">
                        <label for="RequiredInOut" class="form-check-label"> حضور وانصراف </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="AttendanceProof" style="margin-left:5px" class="form-check-input" type="radio" id="RequiredIn" value="RequiredIn">
                        <label for="RequiredIn" class="form-check-label"> حضور فقط </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="AttendanceProof" style="margin-left:5px" class="form-check-input" type="radio" id="Exempted" value="Exempted">
                        <label for="Exempted" class="form-check-label control-label"> معفي </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <button role="button" type="submit" class="btn btn-info"> <i class="fas fa-save"></i> حفظ البيانات </button>
            <a asp-action="Index" class="btn btn-secondary"> <i class="fas fa-ban"></i>  الغاء الأمر </a>
        </div>
    </div>
</form>

@section scripts{
    <partial name="_ValidationScripts" />
}