@model WorkShiftsSystemViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>تأكيد حذف نظام الورديات</h1>

<br />
<h3>هل انت متأكد من حذف نظام الورديات ؟</h3>

الاسم : @Model.Name

ملاحظات @Model.Note
@Model.StartDateHijriText

<form asp-action="ConfirmDelete" method="post">
    <input asp-for="Id" type="hidden" />
    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete </button>
</form>

