
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create"  class="btn btn-outline-info" style="width:150px"><i class="fa fa-plus"></i>  إضافة جديد </a>
<br />
<br />

@(Html.Kendo().Grid<WorkShiftsSystemViewModel>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Code).ClientTemplate("<a href='" +
            Url.Action("Details") +
            "/#= Id #' class='text-info'><i class='fa fa-info-circle'></i> #= Code # </a>");
        columns.Bound(c => c.Name);
        columns.Bound(c => c.StartDate).Format("{0:yyyy/MM/dd}");
        columns.Bound(c => c.StartDateHijriText);
        columns.Bound(c => c.AttendanceProofText);
        columns.Bound(c => c.Note);
        columns.Bound(c => c.Id).Title("تحكم").ClientTemplate(
            "<a href='" + Url.Action("Details") + "/#= Id #' class='text-info' title='تفاصيل'><i class='fa fa fa-info-circle'></i>  </a>" +
            "<a href='" + Url.Action("Edit") + "/#= Id #' class='text-secondary'  title='تعديل'><i class='fa fa-pencil-alt'></i>  </a>" +
            "<a  href='" + Url.Action("Delete") + "/#= Id #' class='text-danger' style='margin-right:5px' title='حذف'><i class='fas fa-trash-alt'></i>  </a>");
    })
    .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
    .DataSource(dataSource => dataSource
    .Ajax()
    .Read(read => read.Action("GetAllDataJsonForKendo", "WorkShiftsSystems"))
    )
    )
