
@{
    ViewData["Title"] = "Index";
}

<h1>Work Shifts Systems</h1>


<kendo-grid name="allData" height="550">
    <datasource type="DataSourceTagHelperType.Custom" custom-type="odata" page-size="5">
        <transport>
            <read url="WorkShiftsSystems/GetAllDataJsonForKendo" />
        </transport>
    </datasource>
    <columns>
        <column field="Code" />
    </columns>
</kendo-grid>

@(Html.Kendo().Grid<WorkShiftsSystemViewModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Code).Width(140);
                columns.Bound(c => c.Name).Width(190);
                columns.Bound(c => c.StartDate);
                columns.Bound(c => c.Note).Width(110);
            })
            .HtmlAttributes(new { style = "height: 380px;" })
            .Scrollable()
            .Groupable()
            .Sortable()
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetAllDataJsonForKendo", "WorkShiftsSystems"))
            )
)

