<header class="header">
    <div class="header-top">
        <div class="header-title"></div>
        <partial name="_clock" />
        <div class="header-logo">
            @*<img src="~/Images/logo.png" height="120px;" width="160px"/>*@
        </div>
    </div>
</header>