<div class="container" style="margin-top:80px;text-align:center;direction:rtl;">
    <ul class="nav nav-tabs">
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="Home" asp-action="index" class="nav-link">الرئيسية</a>
        </li>
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="DepartmentsInfo" asp-action="indexAsync" class="nav-link">الهيكل الإداري</a>
        </li>
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="DevicesInfo" asp-action="indexAsync" class="nav-link">أجهزة البصمة</a>
        </li>
        <li class="nav-item" style="width:140px">
            <a is-active-controller asp-controller="DevicesInfo" asp-action="indexAsync" class="nav-link">الهيكل الاداري</a>
        </li>
    </ul>
</div>